In [11]:
pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.6.1-cp313-cp313-win_amd64.whl.metadata (15 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\users\jeetendra\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (2.2.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\jeetendra\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (1.15.2)
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.6.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.6.1-cp313-cp313-win_amd64.whl (11.1 MB)
   ---------------------------------------- 0.0/11.1 MB ? eta -:--:--
   --- ------------------------------------ 1.0/11.1 MB 7.4 MB/s eta 0:00:02
   ---------- ----------------------------- 2.9/11.1 MB 8.0 MB/s eta 0:00:02
   ----------------- ---------------------- 4.7/11.1 MB 8.1 MB/s eta 0:00:01
   ---------------------- ----------------- 6.3/11.1 MB 8.2 MB/s eta 0:00:01
   ----------------------------- ---------- 8.1/11.1 MB 8.2 MB/s eta 0:00:01
   ----------------------------------- ---- 9.7/11.1 MB 8.3 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.1 MB 8.0 MB/s eta 0:00:01
   ---------------------------------------- 11.1/11.1 MB 7.8 MB/s eta 0:00:00
Downloading joblib-1.4.2-py3-none-any.whl (301 kB)
Downloading threadpoolctl-3.6.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.6.1 threadpoolctl-3.6.0
Note: you may need to restart the kernel to use updated packages.

In [12]:
# importing the required packages
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer

In [3]:
#importing the data set
dataset = pd.read_excel('Financial Sample.xlsx')
dataset.head(3)

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,NaN,1618.5,3,20,32370.0,0.0,32370.0,16185.0,16185.0,2014-01-01,1,January,2014
1,Government,Germany,Carretera,NaN,1321.0,3,20,26420.0,0.0,26420.0,13210.0,13210.0,2014-01-01,1,January,2014
2,Midmarket,France,Carretera,NaN,2178.0,3,15,32670.0,0.0,32670.0,21780.0,10890.0,2014-06-01,6,June,2014

In [4]:
dataset.isnull().sum()

Segment                 0
Country                 0
Product                 0
Discount Band          53
Units Sold              0
Manufacturing Price     0
Sale Price              0
Gross Sales             0
Discounts               0
 Sales                  0
COGS                    0
Profit                  0
Date                    0
Month Number            0
Month Name              0
Year                    0
dtype: int64

In [20]:
si = SimpleImputer(strategy='most_frequent')
arr = si.fit_transform(dataset[dataset.select_dtypes(include='object').columns])
new_dataset = pd.DataFrame(arr, columns= dataset.select_dtypes(include='object').columns)

In [21]:
new_dataset.head(5)

      Segment  Country    Product Discount Band Month Name
0  Government   Canada  Carretera          High    January
1  Government  Germany  Carretera          High    January
2   Midmarket   France  Carretera          High       June
3   Midmarket  Germany  Carretera          High       June
4   Midmarket   Mexico  Carretera          High       June

In [23]:
dataset["Discount Band"].mode()

0    High
Name: Discount Band, dtype: object